<div class="container mt-2 mb-3">
    <h2 class="text-center text-primary">Zarządzanie miastami</h2>
  </div>
  <div class="container mt-3 mb-5">
    <tabset [justified]="true">
      <tab heading="Lista miast" (select)="onSelectCityList()">
        <div class="container mt-5 mb-5">
          <h2 class="text-center text-primary">Lista miast</h2>
          <app-city-management-list [reloadCityList]="reloadCityList"></app-city-management-list>
        </div>
      </tab>
      <tab heading="Dodaj nowe miasto">
        <div class="container mt-3 mb-5">
          <div class="container mt-5 mb-5">
            <h2 class="text-center text-primary">Dodawanie nowego miasta</h2>
            <app-city-add-new></app-city-add-new>
          </div>
        </div>
      </tab>
    </tabset>
  </div>