<div class="container mt-2 mb-3">
    <h2 class="text-center text-primary">Zarządzanie miastami</h2>
  </div>
  <div class="container mt-3 mb-5">
    <tabset [justified]="true">
      <tab heading="Edycja miast">
        <div class="container mt-5 mb-5">
          <h2 class="text-center text-primary">Edycja miast</h2>
        </div>
      </tab>
      <tab heading="Dodaj nowe miasto">
        <div class="container mt-3 mb-5">
          <div class="container mt-5 mb-5">
            <h2 class="text-center text-primary">Nowe miasto</h2>
          </div>
        </div>
      </tab>
    </tabset>
  </div>