<div class="container mt-2 mb-3">
  <h2 class="text-center text-primary">Zarządzanie kategoriami wydarzeń</h2>
</div>
<div class="container mt-3 mb-5">
  <tabset [justified]="true">
    <tab heading="Lista kategorii" (select)="onSelectCatList($event)">
        <div class="container mt-5 mb-5">
          <app-category-list [reloadCategories]="reloadCategories"></app-category-list>
        </div>
    </tab>
    <tab heading="Dodaj nową kategorię" (select)="onSelectAddNewCat($event)">
      <div class="container mt-3 mb-5">
        <div class="row justify-content-center">
          <div class="col-8">
            <app-category-add-new></app-category-add-new>
          </div>
        </div>
      </div>
    </tab>
  </tabset>
</div>