<div class="container mt-5">  
  <h1 class="text-center text-primary">Wydarzenie: {{event?.name}}</h1>  
  <h2 class="text-center text-primary">Statystyki sprzedaży biletów</h2>  
  <div class="row mt-5">
    <div class="col-lg-12 col-md-12 col-sm-12 mb-5">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Typ biletu</th>
            <th scope="col">Cena</th>
            <th scope="col">Wszystkie bilety</th>
            <th scope="col">Sprzedane bilety</th>
            <th scope="col">Łączna kwota</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ticketCategory of ticketCategories">
            <td scope="row">{{ticketCategory?.id}}</td>
            <td>{{ticketCategory?.name}}</td>
            <td>{{ticketCategory?.price}} zł</td>
            <td>{{ticketCategory?.quantity}}</td>
            <td>{{ticketCategory?.soldUnits}}</td>
            <td>{{ticketCategory?.soldUnits * ticketCategory?.price}} zł</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td class="table-dark"></td>
            <td class="table-dark"></td>
            <td class="table-dark"></td>
            <td class="table-dark">Razem</td>
            <td class="table-dark">Bilety: {{ticketsSoldInTotal}}</td>
            <td class="table-dark">Kwota: {{totalAmount}} zł</td>
          </tr>
        </tfoot>
      </table> 
      <div>
          <button class="btn btn-info w-100 mt-5" [routerLink]="['/promoter']">Powrót do listy wydarzeń</button>
        </div>
    </div>
  </div>
</div>
  