<div class="container mt-5 mb-5">
  <h2>Panel administracyjny</h2>
  <div class="tab-panel">
    <tabset class="user-tabset">
      <tab heading="Uprawnienia">
        <div class="container mt-2">
          <app-user-management></app-user-management>
        </div>
      </tab>
      <tab heading="Kategorie wydarzeń">
        <div class="container mt-2">
          <app-category-management></app-category-management>
        </div>
      </tab>
      <tab heading="Obiekty">
        <div class="container mt-2">
          Obiekty
        </div>
      </tab>
      <tab heading="Miasta">
        <div class="container mt-2">
          Miasta
        </div>
      </tab>
    </tabset>
  </div>
</div>
