<form [formGroup]="addForm" (ngSubmit)="addNewCategory()">

  <h2 class="text-center text-primary">Dodawanie nowej kategorii</h2>

  <hr>
  <div class="form-group">
    <input type="text" 
    [ngClass]="{'is-invalid': addForm.get('name').errors && addForm.get('name').touched}" 
    class="form-control" formControlName="name" placeholder="Nazwa kategorii">
    <div class="invalid-feedback">Nazwa kategorii jest wymagana.</div>
  </div>

  <div class="form-group text-center">
    <button class="btn btn-success mr-2" [disabled]="!addForm.valid" type="submit">Zapisz kategorię</button>
  </div>
</form>

<!-- <p>Form value: {{addForm.value | json}}</p>
<p>Form value: {{addForm.status | json}}</p> -->