<div class="container mt-5">
    <div *ngIf="!registerMode && !loginMode && !loggedIn()" class="text-center">
      <h1>EventApp</h1>
      <p class="lead">Zaloguj się, aby uzyskać dostęp!</p>
      <div class="text-center">
        <button class="btn btn-primary btn-lg mr-2" (click)="registerToggle()">Nie masz konta? Zarejestruj się</button>
        <button class="btn btn-info btn-lg" (click)="loginToggle()">Zaloguj się</button>
      </div>
    </div>
  
    <div *ngIf="registerMode && !loggedIn()" class="container">
      <div class="row justify-content-center">
        <div class="col-4">
          <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
        </div>
      </div>
    </div>

    <div *ngIf="loginMode && !loggedIn()" class="container">
      <div class="row justify-content-center">
        <div class="col-4">
          <app-login (cancelLogin)="cancelLoginMode($event)"></app-login>
        </div>
      </div>
    </div>

    <div *ngIf="loggedIn()" class="text-center">
      <h1>EventApp</h1>
      <p class="lead">Witamy!</p>
      <div class="text-center">
        <button class="btn btn-primary btn-lg mr-2" (click)="registerToggle()">Przejdź do kategorii wydarzeń</button>
        <!-- <button class="btn btn-info btn-lg">Logowanie</button> -->
      </div>
    </div>
</div>