<div class="container mt-2 mb-3">
  <h2 class="text-center text-primary">Zarządzanie obiektami</h2>
</div>
<div class="container mt-3 mb-5">
  <tabset [justified]="true">
    <tab heading="Edycja obiektów">
      <div class="container mt-5 mb-5">
        <h2 class="text-center text-primary">Edycja obiektów</h2>
      </div>
    </tab>
    <tab heading="Dodaj nowy obiekt">
      <div class="container mt-3 mb-5">
        <div class="container mt-5 mb-5">
          <h2 class="text-center text-primary">Nowy obiekt</h2>
        </div>
      </div>
    </tab>
  </tabset>
</div>