<form [formGroup]="addForm" (ngSubmit)="addNewEvent()">

  <h2 class="text-center text-primary">Dodawanie nowego wydarzenia</h2>

  <hr>
  <div class="form-group">
    <label for="subcategoryId">Podkategoria</label>

    <select class="form-control" name="subcategoryId" 
    formControlName="subcategoryId">
      <option *ngFor="let subcategory of subcategories" [ngValue]="subcategory.id">
        {{subcategory.category.name}} > {{subcategory.name}}
      </option>
    </select>
  </div>

  <div class="form-group">
    <label for="venueId">Miejsce</label>

    <select class="form-control" name="venueId" 
    formControlName="venueId">
      <option *ngFor="let venue of venues" [ngValue]="venue.id">
        {{venue.name}}
      </option>
    </select>
  </div>

  <div class="form-group">
    <label for="name">Nazwa</label>
    <input type="text" 
    [ngClass]="{'is-invalid': addForm.get('name').errors && addForm.get('name').touched}" 
    class="form-control" formControlName="name" placeholder="Nazwa wydarzenia">
    <div class="invalid-feedback">Nazwa wydarzenia jest wymagana.</div>
  </div>

  <div class="form-group">
    <label for="headline">Nagłówek</label>
    <input type="text" 
    [ngClass]="{'is-invalid': addForm.get('headline').errors && addForm.get('headline').touched}" 
    class="form-control" formControlName="headline" placeholder="Nagłówek wydarzenia">
    <div class="invalid-feedback">Nagłówek wydarzenia jest wymagany.</div>
  </div>

  <div class="form-group">
    <label for="description">Opis</label>
    <input type="text" 
    [ngClass]="{'is-invalid': addForm.get('description').errors && addForm.get('description').touched}" 
    class="form-control" formControlName="description" placeholder="Opis wydarzenia">
    <div class="invalid-feedback">Opis wydarzenia jest wymagany.</div>
  </div>

  <div class="form-group">
    <label for="date">Data wydarzenia</label>
    <input id="date" name="date" formControlName="date"
    type="text" placeholder="Data wydarzenia" class="form-control" bsDatepicker [bsConfig]="bsConfig">
  </div>

  <div class="form-group">
    <input type="number" name="userId" formControlName="userId" 
    class="form-control" hidden>
  </div>

  <div class="form-group text-center">
    <button class="btn btn-success mr-2" [disabled]="!addForm.valid" type="submit">Dodaj wydarzenie</button>
  </div>
</form>


<p>Form value: {{addForm.value | json}}</p>
<p>Form value: {{addForm.status | json}}</p>