<div class="row">
  <table class="table">
    <tr>
      <th style="width: 10%">ID</th>
      <th style="width: 20%">Login</th>
      <th style="width: 50%">Uprawnienia</th>
      <th style="width: 20%"></th>
    </tr>
    <tr *ngFor="let user of users">
      <td>{{user.id}}</td>
      <td>{{user.username}}</td>
      <td>
        <div class="d-inline" *ngFor="let role of user.roles">
          <button type="button" class="btn btn-outline-primary disabled mr-1">{{role}}</button>
        </div>
      </td>
      <td><button class="btn btn-info" (click)="editRolesModal(user)">Edytuj role</button></td>
    </tr>
  </table>
</div>